## Panda Exercises 
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [3]:
import pandas as pd  #importing panda
pd.__version__       #checking the version

'1.3.3'

In [18]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())   #print the first 5

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [52]:
myarr = np.arange(26)
print(myarr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]

In [65]:
#Create a pandas series from each of the items below: a list, numpy and a dictionary
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

series_list=pd.Series(mylist)
series_arr=pd.Series(myarr)
series_dict=pd.Series(mydict)

In [75]:
#3. How to convert the index of a series into a column of a dataframe?

def_lis=(series_list.to_frame().reset_index())  # by this we add a third column, with the different indeces 
def_arr=(series_arr.to_frame().reset_index())
def_dict=(series_dict.to_frame().reset_index())

print(def_dict.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [81]:
#4 How to combine many series to form a dataframe?
combined= pd.concat([series_list, series_arr], axis=1)
print(combined)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [95]:
#5 How to assign name to the seriesâ€™ index?
series_list.rename(index= 'alphabets')
print (series_list.head())

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [120]:
#6 How to get the items of series A not present in series B? From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

#ser1.isin(ser2)  this gives us a boolean result, the tilda here switches it into index. Thus the result shows up 

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [116]:
#7 Get all items of ser1 and ser2 not common to both
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

#convert the two series into dataframes and combine them into one dataframe 
df_ser3= pd.concat([pd.Series(ser1), pd.Series(ser2)])

#drop the duplicates in dataframe 
df_dropped= df_ser3.drop_duplicates(keep=False)

print (df_dropped)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [121]:
# Input SOLUTION from cheatsheet
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [139]:
#8Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
ser = pd.Series(np.random.normal(10, 5, 25))
print (ser)

0     12.858671
1     11.063451
2     12.833940
3      7.056448
4      6.285575
5      2.762220
6     17.054153
7      7.259682
8      4.205019
9      9.267231
10     7.168240
11    -0.122673
12     3.899159
13    14.212649
14    -1.449555
15     5.166929
16    19.318602
17    12.239523
18    10.106819
19     3.856310
20    12.268233
21    10.386044
22    17.463930
23    -0.471113
24    16.798505
dtype: float64

0 quartile = 0 quantile = 0 percentile

1 quartile = 0.25 quantile = 25 percentile

2 quartile = .5 quantile = 50 percentile (median)

3 quartile = .75 quantile = 75 percentile

4 quartile = 1 quantile = 100 percentile

In [140]:
ser.min()

-1.4495549803072514

In [146]:
np.percentile(ser, q=25)

4.2050191361492235

In [147]:
ser.median()

9.267231125228

In [148]:
np.percentile(ser, q=75)

12.833939722029735

In [149]:
ser.max()

19.3186024813238

In [150]:
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-1.44955498,  4.20501914,  9.26723113, 12.83393972, 19.31860248])

In [152]:
#9 Calculte the frequency counts of each unique value ser.
ser_mix = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))    
#nptake (Take elements from an array along an axis, shows the element)
#np.random.randint return random integers from low (inclusive) to high (exclusive).
print (ser_mix)

0     a
1     a
2     a
3     c
4     e
5     b
6     d
7     b
8     f
9     d
10    f
11    e
12    h
13    h
14    a
15    g
16    d
17    d
18    g
19    e
20    d
21    c
22    f
23    f
24    f
25    g
26    e
27    b
28    f
29    a
dtype: object

In [153]:
ser_mix.value_counts()    #Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)

f    6
a    5
d    5
e    4
b    3
g    3
c    2
h    2
dtype: int64

In [160]:
ser_mix.value_counts(ascending=False)    #sorting ascending

f    6
a    5
d    5
e    4
b    3
g    3
c    2
h    2
dtype: int64

In [196]:
# From ser, keep the top 2 most frequent items as it is and replace everything else as â€˜Otherâ€™
Descending_ser=ser_mix.value_counts(ascending=False)

print(Descending_ser)

f    6
a    5
d    5
e    4
b    3
g    3
c    2
h    2
dtype: int64

In [197]:
# a new series without the top two most frequent 
Descending_ser= Descending_ser.iloc[5:]

print(Descending_ser)

g    3
c    2
h    2
dtype: int64